@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  font-family: 'Arial', sans-serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

b,
strong,
h3,
h4 {
  font-weight: 500;
}

.nav-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  flex-flow: column;
}

.nav-container > a {
  flex: 1 1 auto;
  margin: 0.5rem 0;
}

.top-nav {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.disclaimer {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.bc {
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin: 0 auto 2rem;
  border-top: 1px solid #d0d0d0;
  padding-top: 0.5rem;
}

.logo {
  flex: 0 0 275px;
}

.logo.no-logo {
  display: none;
}

.logo > img {
  max-width: 250px;
  /* border: 1px solid #c0c0c0; */
}

.brand {
  flex: 1 0 450px;
}

.flag {
  flex: 1 0 7%;
  background-color: #fffdfe;
  text-align: right;
}

.flag > img {
  vertical-align: top;
  margin-top: 0;
  /* border: 1px solid #c0c0c0; */
}

@media (min-width: 978px) {
  .nav-container {
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
  }

  .nav-container > a {
    flex: 1 1 auto;
  }
}
